<div class="row">
   	 <div class="container ">
   		<div class="cssmenu col-sm-12">
				<ul >
					<li class="/privacy "><a href="/privacy">Privacy</a></li>
					<li><a href="/terms">Terms</a></li>
					<li><a href="/flowershop/ao/1">Shop</a></li>
					<li><a href="/about">About</a></li>
					<li><a href="/contact">Contact</a></li>
				</ul>
		</div>
		<ul class="social">
			<!--<li><a href=""> <i class="instagram"> </i> </a></li>-->
			<!--<li><a href=""><i class="fb"> </i> </a></li>-->
			<!--<li><a href=""><i class="tw"> </i> </a></li>-->
	    </ul>
	    <div class="col-sm-12 bigmargin"></div>
	    <div class="clearfix col-xs-10 "> </div>
	   
	    <div class="copy col-xs-2 meblack">
            <a href="http://www.yomify.com" target="_blank"><img src="/images/YOMIFYLOGO.png" class=myfooter></a>
	    </div>
   	</div>
   </div>
   <br><br><br>
</body>
</html>		