
<% include partials/header%>
                                     
   <div class="men">
   	 <div class="container">
   	     <div>
   	         
   	     </div>
   	     <br>
   	     </br>
   	   <div class= "container row">
   	       
   	       
   	       
                       	        <div class=col-sm-2> <h5><a  onclick="goBack()"> Go Back</a></h5>
                       	          </div>
                       	       
                       	       <div class="col-sm-8 middle" >
                       	           <h2><strong>My Cart</strong></h2>      
                       	       </div>
                       	       
                       	      
   	       
                       	      <br>
                       	      <div class=" col-sm-6 ">
                       	          <a class="btn btn-xs btn-success myleft" href= "/flowershop/ao/1">Continue Shopping</a></div>
                       	           
                       	   <br></br><br></br><br></br><br></br>
                       	    <div class="col-sm-12 middle">
                       	       <h3>CART IS CURENTLY EMPTY</h3>
                       	    </div>
                       	    
                       	    <br></br><br></br><br></br><br></br><br></br><br></br><br></br><br></br><br></br>
                       	     
                       	   
                       	         
                      
   	       
   	       
   	       
   	   </div>
   	     
   	 
   	 
		</div>
		
	
    </div>
   </div>



		
<% include partials/footer%>