
<% include partials/header%>


   <div class="men">
   	 <div class="container">
   	  <div class="grid_1">
	   	  <h1>Password Recovery</h1>
	   	  <p><h5> Please enter your email address below and we will have your password sent to you. Thank you<h5></p>
      </div>
      
	  <div class="clearfix"> </div>
	 </div>
	 <div class="col-sm-12 mycentre contact_form  mystatics">
	 	<h2>EMAIL ADDRESS</h2>
	    <form method="post" action="/forgotpassword">
					<div class="col-md-12 grid_1">
                     	<input type="email" class="text" name=email placeholder="" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}" required>
					 		</div>
					
	                <div class="clearfix"></div>
	                <div class="but__center"><input type="submit" value="Submit &gt;&gt;"></div>
        </form>
     </div>
    </div>
   </div>
  <!-- <div class="map">-->
		<!--   <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d3150859.767904157!2d-96.62081048651531!3d39.536794757966845!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1408111832978"> </iframe>-->
		<!--</div>-->
		
  <% include partials/footer%>