
<% include partials/header%>


   <div class="men">
   	 <div class="container myfont1side3">
   	     <div class=container>
   	         <h5><a href="/flowershop/ao/1"> Back to Flower Shop</a></h5>
   	     </div>
   	  <!--<div class="grid_1">-->
	   	 <!-- <h1>LOG IN</h1>-->
	   	 <!-- <p><h5> <h5></p>-->
      <!--</div>-->
      
	  <div class="clearfix"> </div>
	 </div>
	 <div class="contact_form row">
	 	<h2> Please login below</h2>
	    <form method="post" action="/login">
	               <div class=col-xs-2> </div>
					<div class="but__center mylogin col-xs-8 mycentre" class="col-sm-6 to">
                        <div class="mynewright col-sm-6">
                        <div>
                            <label>Email : </label>
                         </div>
                        <br>
                        <div>
                            <label>Password:</label>
                         </div>
                         
                        
                        </div>
                        <div class=" myleft col-sm-6">
                            <div>
                               <input  type="email" class="text" name=username required>
                           
                            </div>
                            <br>
                            <div>
                                <input  type="password" class="text"name=password  required> 
                            </div>
                            	
                            	 
                            
                        </div>
                        
					 	</div>
				
	                <div class="clearfix"></div>
	                <div class="but__center"><input type="submit" value="Log In &gt;&gt;"></div>
        </form>
        
     </div>
     
      <div class= "container row middle">
                      
                                
                <a href="/forgotpassword">Forgot your password</a> &nbsp&nbsp&nbsp&nbsp&nbspNot Registered? <a href="/signup">Sign up<a> 
                             
                            
                            
      </div>
                         
    </div>
   </div>
  <!-- <div class="map">-->
		<!--   <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d3150859.767904157!2d-96.62081048651531!3d39.536794757966845!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1408111832978"> </iframe>-->
		<!--</div>-->
		
  <% include partials/footer%>