


<html>
	<head>
		<link href="/stylesheets/style.css" rel='stylesheet' type='text/css' />
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel='stylesheet' type='text/css' />
	</head>
	
	<body class="container mymessagelist ">
		<h1>Message Suggestions</h1>

<div class=" row ">
	
	
    
    <div class =col-sm-12>
        <h3>Funeral & Sympathy</h3>
        <ul class=mywhite>
            
    <li>With deepest sympathy.</li>
	<li>In loving memory.</li>
	<li>You are in our thoughts and prayers during this difficult time.</li>
	<li>Praying for friends to comfort you, faith to uphold you, and loving memories help you smile again. With Sincerest Sympathy.</li>
	<li>You will forever be in our hearts and memories.</li>
	<li>Our hearts are saddened by your loss and our thoughts and prayers are with you.</li>
	<li>May God Bless you always.</li>
	<li>May the peace that comes from the memories of love shared, comfort you in the days ahead.</li>
	<li>Our heartfelt sympathy.</li>
	<li>Keeping you and your families in our prayers and hoping you find comfort and peace.</li>
	<li>Sorry for your loss.</li>
	<li>There is comfort in friendship, hope in prayer, peace in love - sharing your sorrow with love and friendship.</li>
	<li>Thinking of you at this time of sorrow.</li>
	<li>We will miss you!</li>
	<li>May you take comfort in knowing there is one more angel above us.</li>
	<li>Our hearts are filled with sorrow.</li>
	<li>My thoughts are with you at your time of need.</li>
	<li>There are no words that can convey our heartfelt condolences.</li>
	<li>Our hearts are filled with sorrow. Know that we are with you in spirit.</li>
	<li>May you find comfort in knowing that your loved one is in God's care.</li>
	<li>With deep sorrow and fond remembrance.</li>
	<li>Death leaves a heartache no one can heal, love leaves a memory no one can steal.</li>
            
            
        </ul>
        
    </div>
    <br></br>
    <div class =col-sm-12>
        <h3>Get Well</h3>
        <ul class=mywhite>
            
    <li>Get well soon. </li>
	<li>Feel better. We miss you! </li>
	<li>So sorry to hear you are in the hospital. Get well soon! </li>
	<li>Thinking of you and wishing you a speedy recovery. </li>
	<li>You are in our thoughts and prayers. </li>
	<li>Hope to see you back on your feet soon. </li>
            
        </ul>
        
    </div>
     <br></br>
    <div class =col-sm-12>
        <h3>Love & Romance</h3>
        <ul class=mywhite>
            
         <li>I love you! </li>
	<li>I love you with all my heart! </li>
	<li>You are the best thing that ever happened to me and I love you so much! </li>
	<li>I am the luckiest man on earth to have such an amazing woman in my life. I love you! </li>
	<li>I miss you! </li>
	<li>Thinking of you. </li>
	<li>You complete me. </li>
	<li>Be mine. </li>
    <li>	You bring joy and love to my life </li>
	<li>Love bears all things, believes all things, hopes all things, endures all things. </li>
	<li>I love you more today than yesterday, less than tomorrow. </li>
	<li>You've stolen my heart. I know it's in good hands. </li>
	<li>My love for you grows stronger every day. </li>
	<li>Love is missing someone whenever you're apart, but somehow feeling warm inside because you're close in heart </li>
	<li>Every day I think of you, every night I dream of you, only proves, it must be true, that I'm in love with you. </li>
	<li>Love is the bridge between two hearts. </li>
            
        </ul>
        
    </div>
     <br></br>
    <div class =col-sm-12>
        <h3>Birthday</h3>
        <ul class=mywhite>
            
      <li>  Happy Birthday! </li>
	<li>Happy Birthday! Hope you have a wonderful day! </li>
<li>	Happy Birthday and God's blessings. </li>
<li>	Happy belated Birthday! </li>
	<li>Happy Birthday, I love you with all my heart! </li>
	<li>Happy Birthday, best wishes of love and happiness. </li>
	<li>Hope your birthday is as terrific as you are. </li>
	<li>May all your birthday wishes come true! </li>
            
        </ul>
        
    </div>
    
     <br></br>
    <div class =col-sm-12>
        <h3>New Baby</h3>
        <ul class=mywhite>
       <li>   Congratulations on your new baby! </li>
	<li>Congratulations on your new baby boy! </li>
	<li>Congratulations on your new baby girl! </li>
	<li>When a baby is born, it cries but the world rejoices. </li>
<li>	Babies are such a nice way to start people! </li>
<li>	Babies are bits of stardust; blown from the hand of God. </li>
	<li>Nice work, Mom and Dad! </li>
	<li>A star is born. </li>
	<li>A child is someone you carry in your body for 9 months, and carry in your heart for the rest of your life. </li>
	<li>Children re-invent your world for you.  </li>

            
        </ul>
        
    </div>
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
</div>
	</body>
	
</html>


