
<% include partials/header%>


   <div class="men  mywhite">
   	 <div class="container">
   	     <div>
   	         <h5><a href="/flowershop/ao/1"><span class=mywhite>Back to Flower Shop<span></a></h5>
   	     </div>
   	     <br>
   	     </br>
   	     <div class="grid_1">
	   	  <h1>Terms</h1>
	   	     </div>
   	      <div class="container mystatics">
   	  <div >
         <br></br>
        <p>At Florist Lola, we want you to be satisfied. If you feel the item delivered by one of our 
        local florists is unsatisfactory, we will pick up and replace the product, pick it up and refund your money
        or offer you a partial credit and keep the delivered product. Because of the perishable nature of flowers all
        we ask is that you contact us within 2 days of delivery with the details of your complaint.</p>
        </div>
         <br>
        <div >
        
        <p>Our products are delivered via our network of preferred local florists. 
        Delivery is available Monday to Saturday to all 50 States and Canada. Sunday delivery is not available. 
        For same day delivery - orders must be placed before 1:00 PM in the recipient's time zone. 
        During peak holiday periods (Valentine's Day, Mother's Day, Christmas, Easter etc.) same day delivery cutoff 
        time may be earlier. Requests for delivery at specific times of the day may be placed, but cannot be guaranteed. 
        Normal delivery hours for our preferred florists are between 9:00AM and 7:00PM.</p>
        </div>
         <br>
        <div >
        
        <p>We accept the following credit cards for payment: Visa - Mastercard - American Express - Discover</p>
        </div>
         <br>
        <div >
        
        <p>All orders being delivered within the U.S. and Canada will be assessed a $12.99 service charge. 
        If sending more than one item to the same location on a single order, only one service charge will be assessed.</p>
        </div>
         <br>
        <div>
        
        <p>Substitution may be necessary to ensure your arrangement is delivered in a timely manner. 
        The utmost care and attention will be given to your order to ensure that it is as similar as possible
        to the requested item. There shall be no substitution in type of arrangement; that is, no change in size or shape.</p>
        </div>
         <br>
        <div >
        
        <p>We will honor a request to change an order provided that the process of fulfilling the flower
        order has not already begun by your local florist. If you are changing the delivery date, 
        we will honor that where possible. If you are changing the items ordered, in cases where your new order total 
        is less than your previous order total, we will credit you the difference.
        In cases where your new order total is greater than your previous order total, 
        you will be charged for the difference. Please <a href="/contact">contact us</a>
        as early as possible if you need to change an order.</p>
        </div>
         <br>
        <div >
        
        <p>We will honor a request to cancel an order provided that the process of fulfilling the flower 
        order has not already begun by your local florist. If we are able to cancel an order, your money will be fully refunded.
        Please <a href="/contact">contact us</a> as early as possible if you need to cancel an order 
        providing us with an order number or as much information as possible.</p>
        </div>
         <br>
        <div>
        
        <p>We are  concerned about your privacy and the security of your personal data. We have made a strong effort 
        to ensure that your personal information is safeguarded and have instituted a comprehensive privacy 
        and security policy. <a href="/privacy">(click here for details)</a>   <br></br>   <br></br></p>
        </div>
		
	  </div>
    </div>
   </div>



		
<% include partials/footer%>